<div class="rating-stars">

  <div [class]="star1" (click)="getRating(1)">
      <app-icon iconType="remix" [iconName]="star1" iconColor="primary-icon" iconSize="custom"></app-icon>
  </div> 
  <div [class]="star2" (click)="getRating(2)">
      <app-icon iconType="remix" [iconName]="star2" iconColor="primary-icon" iconSize="custom"></app-icon>
  </div> 
  <div [class]="star3" (click)="getRating(3)">
      <app-icon iconType="remix" [iconName]="star3" iconColor="primary-icon" iconSize="custom"></app-icon>
  </div> 
  <div [class]="star4" (click)="getRating(4)">
      <app-icon iconType="remix" [iconName]="star4" iconColor="primary-icon" iconSize="custom"></app-icon>
  </div> 
  <div [class]="star5" (click)="getRating(5)">
      <app-icon iconType="remix" [iconName]="star5" iconColor="primary-icon" iconSize="custom"></app-icon>
  </div> 

  <!-- <mat-icon [class]="star1" (click)="getRating(1)" >{{star1}} </mat-icon>
  <mat-icon [class]="star2" (click)="getRating(2)" >{{star2}} </mat-icon>
  <mat-icon [class]="star3" (click)="getRating(3)">{{star3}} </mat-icon>
  <mat-icon [class]="star4" (click)="getRating(4)">{{star4}} </mat-icon>
  <mat-icon [class]="star5" (click)="getRating(5)">{{star5}} </mat-icon> -->
</div>
