<div class="content-wrapper">
  <div class="rating-number">4.0</div>
  <div class="stars">
    <app-icon
      *ngFor="let item of starNumber"
      iconType="remix"
      iconName="star-fill"
      iconColor="primary-icon"
      iconSize="custom"
    ></app-icon>
  </div>
  <div class="rating-levels"></div>
  <div class="col review-wrapper" *ngFor="let item of starNumber">
    <div class="row reviewer-info">
      <div class="image">
        <img src="../../../assets/avatar/avatar_nick.png" alt="" />
      </div>
      <div class="col left">
        <div class="name">John Maxwell</div>
        <div class="row stars">
          <app-icon
            *ngFor="let item of starNumber"
            iconType="remix"
            iconName="star-fill"
            iconColor="primary-icon"
            iconSize="custom"
          ></app-icon>
          <div class="rating-number">4.0</div>
        </div>
      </div>
      <div class="date">{{ rDate | date: "short" }}</div>
    </div>
    <div class="message">
      <p>
        If you are have structured your Angular app using multiple modules as I
        have previously outlined in this post, then you should run the following
        command
      </p>
    </div>
  </div>
</div>
